<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <input type="text" name="title">
    <textarea name="body" rows="8" cols="80"></textarea>
    <button type="submit" name="button">button</button>
  </form>
</body>
</html>
