<% include layout/header.ejs %>
  <a href="/create">Add</a>
  <ul>
  <% posts.forEach(function(post){ %>
      <b><li><%= post.title %></li></b>
      <br>
      <li><%= post.body %></li>
  <% }); %>
</ul>
<% include layout/footer.ejs %>
