<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <a href="/create">Add</a>
  <ul>
  <% posts.forEach(function(post){ %>
      <b><li><%= post.title %></li></b>
      <br>
      <li><%= post.body %></li>
  <% }); %>
</ul>
</body>
</html>
